<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}
    <div class="errimg">
        <figure>
            <img src="/images/404(u).jpg" class="img-fluid" title="subhas technical" alt="subhas" />
        </figure>
    </div>
    <div class="errtext">
        <h3>Oops <span class="text_clr">page not</span> found !</h3>
        <a href="/"><button >Go to Home page</button></a>
    </div>
    {{>footer}}
</body>

</html>